<header class="container">

  <nav class="half-navigation">
<p>
              Christian Solorzano <br> is  <span id="spin"></span>
</p>


      <img src="/assets/images/me.jpg" class="hover-image">
  </nav>
  <nav class="half-navigation">
      <p>
      <a href="{{ '/' | relative_url }}">Home</a>.....<br>
      <a href="{{ '/about' | relative_url }}">Info</a>.....<br>
      <a href="{{ '/design' | relative_url }}">Design</a>.....<br>
      <a href="{{ '/photography' | relative_url }}">Photography</a>.....<br>
      <a href="{{ '/library' | relative_url }}">Library</a>.....
      </p>
  </nav>
</header>
