<header class="container">

  <nav class="full-width">
<p>
    From the desk of <br>
    <a href="{{ '/' | relative_url }}">
        <span class="myname">Christian</span>
        <span class="mylast">Solorzano™</span>
    </a>
    <br>
    <span id="spin"> </span>
    <br>
    <a href="{{ '/about' | relative_url }}">Info</a>
    <a href="{{ '/design' | relative_url }}">Design</a>
    <a href="{{ '/photography' | relative_url }}">Photography</a>
</p>


      <img src="/assets/images/me.jpg" class="hover-image">

  </nav>
</header>



<span class="BG1"><img src="/assets/images/bg.jpg"></span>

<span><img src="/assets/images/cropmark.svg" style="width:2em; position:fixed; top:1em; left: 1em; transform:
rotate(-90deg);"
></span>

<span><img src="/assets/images/cropmark.svg" style="width:2em; position:fixed; top:1em; right: 1em; transform:
rotate(0deg);"
></span>

<span><img src="/assets/images/cropmark.svg" style="width:2em; position:fixed; bottom:1em; left: 1em; transform:
rotate(180deg);"
></span>

<span><img src="/assets/images/cropmark.svg" style="width:2em; position:fixed; bottom:1em; right: 1em; transform:
rotate(90deg);"
></span>