

<header>
  <div id="logo">
    <a href="{{ '/' | relative_url }}" div="logo" title="{{ site.name }}">{{ site.name }}</a>
  </div>

   <nav>
    <ul>
      <li>
       <a href="{{ '/work' | relative_url }}"#work>🔨</a>
    </li>
        <li>
            <a href="{{ '/photography' | relative_url }}"#photographyy>📷</a>
        </li>
        <li>
            <a href="{{ '/play' | relative_url }}"#play>🎨</a>
        </li>
      <li>
       <a href="{{ 'posts' | relative_url }}" title="#writing">✍️</a>
      </li>

    </ul>
  </nav>


</header>

