// Define all color and spacing variables here
$spacing-unit: 30px; 
$backgroundc: #000000;
$maincolor: #ffffff;
$accent: #0042ec;
$accent1: #0042ec;
$lightcolor: #0042ec;
$midcolor: #0042ec;

// Font definitions
$base-font: 'niveau-grotesk', monospace;
$accent-font: 'niveau-grotesk', monospace;

$modularscale: (
  base: 1em,
  ratio: 1.125
);