/* =============== IMPORTS =============== */

@import "../libraries/bourbon/bourbon";
@import "../libraries/neat/neat";
@import "../modular-scale/modular-scale";

// ------------------------------------------------------------
// Omega Reset
// ------------------------------------------------------------

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}


// ------------------------------------------------------------
// Override Neat's grid settings
// ------------------------------------------------------------

$column: golden-ratio(1em, 3) !default; // Column width
$gutter: golden-ratio(1em, 3) !default; // Gutter between each two columns

// ------------------------------------------------------------
// Set Bourbon's flex-grid variables to match what Neat is doing
// http://bourbon.io/docs/#flex-grid
// ------------------------------------------------------------

$fg-column: $column;
$fg-gutter: $gutter;


// http://www.joshfry.me/blog/2013/05/13/omega-reset-for-bourbon-neat


/* =============== MIXINS =============== */

$max-width: em(62.5em) !default;




/* =============== VARIABLES =============== */


$backgroundc: #ffffff;
$lightcolor: #646464;
$midcolor: #636363;
$maincolor: #181818;
$darkcolor: #e8e8e8;
$max-width: em(400);
$small: new-breakpoint(max-width 64em 12);
$grid: new-breakpoint(max-width 40em 12);
$font-family-serif: 'Cardo', serif;
$font-family-sans: 'neuzeit-grotesk',sans-serif;
$light:300;
$regular:400;
$maxwidth-desktop:62.5em;




/* =============== BODY =============== */

.hideme {
  opacity:0;
}


body {
  @include outer-container(100%);
  background-color: $backgroundc;
  margin-top: 0em;
  color:$maincolor;
  font-family: $font-family-sans;
  font-size: ms(0);
  /* @include linear-gradient(to top, #324146, #b7c4ff, #adffe4 ); */
  @include media($small) { // As defined in _grid-settings.scss
    @include outer-container(100%);
  }
  @include media($grid) { // As defined in _grid-settings.scss
    @include outer-container(100%);
  }


}
/* Create a series of empty pseudo-elements... */
html:before,html:after,body:before,body:after{
  content:"";
  background:black;
  position:fixed;
  display:block;
  z-index:5;
}

/* ...and position them! */
html:before{
  height:10px;
  left:0;
  right:0;
  top:0;
}
html:after{
  width:10px;
  top:0;
  right:0;
  bottom:0;
}
body:before{
  height:10px;
  right:0;
  bottom:0;
  left:0;
}
body:after{
  width:10px;
  top:0;
  bottom:0;
  left:0;
}



.outer:hover {
  // Animation shorthand works the same as the CSS3 animation shorthand
  @include animation(scale .5s ease-in, slide .5s ease);

  // The above outputs the same CSS as using independent, granular mixins.
  @include animation-name(scale, slide);
  @include animation-duration(2s);
  @include animation-timing-function(ease);
  @include animation-iteration-count(infinite);
}

.nth-element {
  @include omega(4n);
  background-color:yellow;
  max-width: $max-width;
}





/* =============== HEADER =============== */


header {

  clear: both;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 2em 0 2em 0;

  @include media($small) { // As defined in _grid-settings.scss
    @include outer-container(80%);
  }
  @include media($grid) { // As defined in _grid-settings.scss
    @include outer-container(80%);
  }

}


#logo {

  @include span-columns(4);
  font-size: ms(0);
  @include media($small) { // As defined in _grid-settings.scss
    @include span-columns(12);
    text-align: left;
    font-size: ms(0);

  }
}


#logo a {
  vertical-align: text-bottom;
  font-size: ms(1);
  font-weight: $regular;
  letter-spacing: 1px;
  -webkit-animation: color-change 5s infinite;
  -moz-animation: color-change 5s infinite;
  -o-animation: color-change 5s infinite;
  -ms-animation: color-change 5s infinite;
  animation: color-change 5s infinite;
}

@-webkit-keyframes color-change {
  0% { color: #1d131c; }
  25% { color: #0035ff; }
  50% { color: #232636; }
  75% { color: #0035ff; }
  100% { color: #000000; }
}


a {
  vertical-align: text-bottom;
  text-decoration: none;
  color:$midcolor;
  font-weight: $regular;
  font-size: ms(0);
  color:$maincolor;
}


a:hover {
  color:black;
}


nav {
  font-size: ms(0);
  color:black;
  text-align: right;
  @include span-columns(8);
  @include media($small) { // As defined in _grid-settings.scss
    @include span-columns(12);
    margin-top: .5em;
    text-align: left;
    font-size: ms(-1);

  }

}

nav ul {
  margin:0;
  @include media($small) { // As defined in _grid-settings.scss
    @include span-columns(12);
    padding: 0;

  }

}

nav ul li {
  list-style-type: none;
  display:inline;
  margin: 0;
  margin-right: 1em;
}

nav ul li:nth-last-child(1) {
  margin-right: 0em;

}




/* =============== HOME =============== */





#work {
  clear:both;
  @include outer-container(95%);
  @include media($small) { // As defined in _grid-settings.scss
    @include outer-container(95%);

  }
  }

#work h1 {
  text-align: left;
  font-size:ms(13);
}

li.block {
  @include span-columns(3);
  // @include omega(4n);
  margin: .2em;
  @include media($small) { // As defined in _grid-settings.scss
    margin: 0 auto;
   @include span-columns(4);
    @include omega(3n);
  }
 @include media($grid) { // As defined in _grid-settings.scss
   @include span-columns(6);
   @include omega-reset(3n);
   @include omega(2n);
   margin: 0 auto;
 }
  }

.block {
  text-align: center;
  margin: 0;
  font-size: ms(-3);
  font-weight: $regular;
  text-transform: uppercase;
  letter-spacing: .5px;
}





li.block img {
  width:100%;
}


li.block img {
  -webkit-animation-name: FadeIn;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: .8s;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

li.block img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);



}


/* =============== ABOUT =============== */


#about {
  @include outer-container(70%);
    @include media($small) { // As defined in _grid-settings.scss
     @include outer-container(80%);
  }
  @include media($grid) { // As defined in _grid-settings.scss
    @include outer-container(80%);

  }
}

.about {
  /* @include linear-gradient(#4d64ff, #ffd0d9, white); */
  background-repeat:no-repeat;
  height:100vh;
  font-family: $font-family-sans;



}

.about a {
  color:$maincolor;
  font-family: $font-family-sans;
}

.aboutsection {
  @include span-columns(3);
  font-size: ms(0);
  border-top: 1px solid black;
  @include media($small) { // As defined in _grid-settings.scss
    @include span-columns(6);
    @include omega(odd);




  }
  @include media($grid) {
    @include span-columns(12);
  }

}

.resume a {
  text-decoration: underline
}



.aboutsection ul {
  padding-left: opx ;
  margin-left: -40px ;
  text-indent: opx ;
}


.about h1 {
  font-family: $font-family-sans;
  clear:both;
  color:$maincolor;
  font-weight: 300;
  @include ms-respond(font-size, 4);
}


.about h3 {
  font-size:ms(-1);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
}
.aboutsection lh {
  padding-bottom:3px;
  font-size:ms(0);
  font-weight:300;
  margin-bottom: 10px;
}



.jobtitle {
  font-size:ms(-1);
  color: $midcolor;
}

.date {
  font-size:ms(-2);
  color:$lightcolor;
}

.description {
  font-size: ms(0);
  display:none;
}


.aboutsection ul li {
  list-style:none;
  padding-left:0;
  margin-bottom: 1em;
  font-weight: 300;
}

.social {
  margin-top: 2.5em;
  @include span-columns(12);
  text-align: center;

}

.social img {
  width:70%;
  @include media($small) { // As defined in _grid-settings.scss
    width:90%;
  }
  @include media($grid) { // As defined in _grid-settings.scss
    @include outer-container(90%);
  }


}

.social h2 {
  font-size: ms(-2);
  font-weight:400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.social p {
  font-size: ms(-2);
}

.social a {
  color: #ff3c79;
}

.colophon {
  @include span-columns(12);
  text-align: center;
}

.colophon h2 {
  font-size: ms(-2);
  font-weight:400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.colophon p {
  font-size: ms(-2);
}

.colophon a {
  color: #ff3c79;
}

/* =============== WORK =============== */

.worktext {
  @include outer-container(70%);
  @include media($small) { // As defined in _grid-settings.scss
    @include outer-container(80%);
  }
  @include media($grid) { // As defined in _grid-settings.scss
    @include outer-container(80%);
  }

}


.work  {
  font-size: ms(0);
  @include outer-container(100%);
  clear:both;
  @include media($small) { // As defined in _grid-settings.scss
    @include span-columns(12);
    @include outer-container(100%);
  }
  @include media($grid) { // As defined in _grid-settings.scss
    @include outer-container(100%);
  }
}

.projectinfo {
  @include span-columns(8);
  @include media($small) { // As defined in _grid-settings.scss
    @include span-columns(12);
  }
}

.projectinfo h1 {
  @include ms-respond(font-size, 1);
  font-weight:$light;
  border-bottom: 1px solid black;
  padding-bottom: .6em;
}


.projecttype {
  color: $maincolor;
  @include span-columns(4);
  @include omega();
  @include media($small) { // As defined in _grid-settings.scss
    @include span-columns(12);
  }
}

.projecttype h1 {
  @include ms-respond (font-size, 1);
  font-weight: $light;
}

.projectinfo p {
  font-size: ms(0);
  font-weight: $light;
  line-height:1.5em;
  @include media($small) { // As defined in _grid-settings.scss
    font-size:ms(0)
  }
  @include media($grid) { // As defined in _grid-settings.scss
    font-size:ms(-1)
  }
}

.workimages {

  width:100vw;
  clear:both;
  margin: 2em auto;
  @include span-columns(12);
  @include media($small) { // As defined in _grid-settings.scss
    @include span-columns(12);
  }
}

.workimages img {
  max-width:100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;

  @include media($small) { // As defined in _grid-settings.scss
    max-width:100%;
  }


}

figcaption {
  margin-top: 1em;
  font-size:ms(-1);
  border-top:1px solid black;
  padding-top: 10px;
  color:gray;
  text-align: center;
  font-weight: $light;
  display:none;
}

.back {
  padding: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: ms(2);
  text-align: center;
  color:black;

}

/* =============== FOOTER =============== */



footer {
  @include span-columns(12);
  padding: 2em;
  text-align: center;

}

footer a {
  color:$midcolor;
  font-weight:$light;
  font-size: ms(0);
}

.about footer a {
  color:$midcolor;
}



/* =============== TYPOGRAPHY =============== */

header p {
  text-align: center;
  font-size:.6em;
}

h1 {
  font-family: $font-family-sans;
  font-size: ms(0);
  font-weight: 400;
  color:blue;
}

h2 {
  font-family: $font-family-sans;
  font-size: ms(0);
  font-weight: 400;

}


.words {
  text-align: center;

}


::selection {
  background: black;
  color:white;
}


/* BLOG */

.grid-centered, {
  @include outer-container(45%);
  @include media($small) { // As defined in _grid-settings.scss
    @include outer-container(80%);
  }
  @include media($grid) { // As defined in _grid-settings.scss
    @include outer-container(80%);

  }
}

.grid-cell {
  display: inline-block;
  width: 100%;
  padding: 0
}

.article-list li {
  position: relative;
  display: block;
  padding: 0;
  margin-bottom: 1.25em;
  border-bottom: .5px solid $darkcolor;

}

.article-list li h1  {
  @include ms-respond(font-size, 2);
  color:$maincolor;

}

.article-list-footer {
  display: block;
  margin-bottom: 1.25em;
}

.article-list {
  margin:1em 0;
}

.article-list-item a {
  text-decoration: none;
}


.article {
  margin:2.5em 0;

}


.title {
  font-size:ms(5);

}

.article-list-item p {
  margin: .5em 0 .5em;
  font-size: ms(0);
}

.article-header {
  padding:0;

}

.article-header h1 {
  font-size:ms(5);
  color:$maincolor;
}

.article-header p {
  margin:.25em;
}

