---
layout: default
---


<span class="four-columns">
  <img src="/assets/images/me.jpg" alt="Portrait of Christian Solorzano">
</span>


<span class="four-columns">
  <h2>About</h2>
  {{ content }}
</span>


<span class="four-columns">
  <h2>Get in Touch</h2>
  <p>
    Email
    <a href="mailto:{{ site.email }}">{{ site.email }}</a>
  </p>
  <p>
    Instagram
    <a href="https://www.instagram.com/{{ site.instagram_username }}" target="_blank">@{{ site.instagram_username }}</a>
  </p>
</span>


<span class="four-columns">
  <h2>Information</h2>
  <p>
    Founder of OP/AL (Original Practice Applied Learning), a design practice in Oak Park
  </p>
  <p>
    Founder of the
    <a href="http://www.chicagodesignbook.club" target="_blank">Chicago Graphic Design Club</a>
  </p>
  <p>
    Host of the podcast
    <a href="https://anchor.fm/chicagographicdesignclub" target="_blank">Underscore</a>
  </p>
  <p>
    Producer of Faculty, a publication on Chicago design
  </p>
  <p>
    Design educator at
    <a href="https://www.depaul.edu/Pages/default.aspx" target="_blank">DePaul University</a>
  </p>
  <p>
    Meditation teacher at
    <a href="http://zlmc.org" target="_blank">the Zen Life & Meditation Center of Chicago</a>
  </p>
  <p>
    Writer of the journal
    <a href="https://beginnersmind.substack.com/" target="_blank">Beginner's Mind</a>
  </p>
  <p>
    Photography published on
    <a href="https://www.flickr.com/photos/christians" target="_blank">Flickr</a>
  </p>
</span>


<span class="four-columns">
  <h2>Speaking</h2>

  <p>
    Type Electives <br>
    Speaker <br>
    2026 <br>
  </p>
  <hr>
  <p>
    Universidad Catolica Boliviana "San Pablo" Cochabamba <br>
    Speaker <br>
    2025 <br>
  </p>
  <hr>
  <p>
    Northeastern Illinois University <br>
    Panel <br>
    2025 <br>
  </p>
  <hr>
  <p>
    DePaul University Panel <br>
    Alumni Panel <br>
    2024 <br>
  </p>
  <hr>
  <p>
    Chicago Design Archive <br>
    PAST, PRESENT, AND FUTURE, 20TH ANNIVERSARY <br>
    2023 <br>
  </p>
  <hr>
  <p>
    AIGA Chicago <br>
    Ask & Give <br>
    2021 <br>
  </p>
  <hr>
  <p>
    DePaul University <br>
    Alumni Panel <br>
    2020 <br>
  </p>
  <hr>
</span>
