---
layout: default
---

<h3 class="full-width start-third">
  Introduction
</h3>
<span class="two-columns">
  <img class="no-shadow" src="/assets/images/me.jpg">
</span>
<span class="four-columns">
  <h2>
    I‘m Christian, a designer based out of Chicago.
  </h2>
  <p>
    Currently, I am a product designer at <a href="https://digital.pwc.com/en.html" target="_blank">PwC</a>, where I
    design product features and enhancements that improve the employee experience for thousands of PwC's employees. I
    co-design with stakeholders, strategists, and technologists, to ensure that our solutions are met
    with excitement, utility, and beauty.
  </p>
    <p> In 2020, I founded the <a
          href="http://www.chicagodesignbook.club" target="_blank">Chicago Graphic Design Club</a> as a way to build
      community in Chicago centered around the theory, craft, and practice of graphic design. Since 2020, we‘ve
      hosted numerous workshops, tours, lectures, and in 2022, I launched our podcast, <a
              href="https://anchor.fm/chicagographicdesignclub" target="_blank">Underscore</a>, where I speak with
        Chicago’s creative leaders on a range of topics.
  </p>
  <p>As of 2022, I teach at <a href="https://www.depaul.edu/Pages/default.aspx" target="_blank">DePaul
    University</a>’s College of Computing & Digital Media. My teaching philosophy is to make the classroom a space
    where students are free to make mistakes, experiment, and develop critical thinking. My goal is to help students
    develop their unique perspectives and rationale behind the decisions that drive their work. </p>
  <p>In addition, mindfulness and writing play a large role in my
  approach
    and relationship with design so on occasion

    I teach
    mindfulness at <a href="http://zlmc.org" target="_blank">the Zen Life & Meditation Center of Chicago</a> and I
  also write a biweekly newsletter titled
    <a href="https://beginnersmind.substack.com/" target="_blank">Beginner's Mind</a>, which explores and examines
    the margins of culture and creativity through a contemplative lens.</p>

</span>




<span class="start-third full-width">
<hr>
  <h3>Experience</h3>
  <p>
      PwC <br>
      Senior Product Designer <br>
      2017–Present <br>
      I work closely with strategists, developers, and designers, to define, design, iterate, and develop digital experiences that solve complex business needs. My process involves empathy, collaboration, testing, and inclusion. My work spans across industries such as healthcare, insurance, and energy, utilities & resources.
  </p>
  <hr>
  <p>
     DePaul Univeristy <br>
      Adjunct Faculty <br>
      2022–Present <br>
     Classes taught: Intro to Visual Design and Web Design for Commercial Projects.
  </p>
    <hr>
    <p>
    Chicago Graphic Design Club<br>
    Founder <br>
    2020–Present <br>
    Created The Chicago Graphic Design Club as a platform for Designers to gather to discuss the practice and theory of design. Currently, I develop programming and communications across channels.
    </p>
    <hr>
    <p>
    ADPList <br>
    Mentor <br>
    2020–Present <br>
    I provide mentorship to designers on internships, promotions, portfolios, building design culture, managing burnout, getting feedback, doing impact driven work, and running effective design critiques. I believe in the importance of giving back to others and mentorship provides  that opportunity to share what I know. <br> You can book a meeting with me <a href="https://adplist.org/mentors/christian-solorzano" target="_blank">here</a>.
  </p>
    <hr>
  <p>
    View more experience <a href="https://www.linkedin.com/in/christian-solorzano-94aa9548" target="_blank">here</a>.
    <hr>
  </p>
</span>


<span class=" full-width start-third">
  <h3>More</h3>
  <p>I have a monthly newsletter called <a href="https://beginnermind.substack.com/" target="_blank">Beginner's Mind</a>, where I explore the intersection of contemplation, creativity, and everything in-between. You can also follow me on <a href="https://www.instagram.com/xnslrzn/" target="_blank">Instagram</a> and <a href="https://www.flickr.com/photos/christians" target="_blank">Flickr.</a> I enjoy learning and staying informed — here are some of my favorite <a href="{{ '/library' | relative_url }}"#library>books</a>.
</p>
</span>


