---
layout: default
---


<span class="four-columns">
    <h1>
    Bio
    </h1>
    <p>
        A multidisciplinary designer, photographer, artist, and storyteller, blah blah blah... [Insert long list
        of adjectives and jargon]. I do things. <br>
    </p>


  <h1>
     Information
  </h1>
  <p>
      Sr. Product designer @
      <a href="https://digital.pwc.com/en.html" target="_blank">PwC </a>
      <br>
      Founder of the
      <a  href="http://www.chicagodesignbook.club" target="_blank">Chicago Graphic Design Club</a>
      <br>
      Host @
      <a href="https://anchor.fm/chicagographicdesignclub" target="_blank">Underscore</a>
      <br>
      Design educator @
      <a href="https://www.depaul.edu/Pages/default.aspx" target="_blank">DePaul University</a>
      <br>
      Mindfulness teacher @
      <a href="http://zlmc.org" target="_blank">the Zen Life & Meditation Center of Chicago</a>
      <br>
      Writer @
      <a href="https://beginnersmind.substack.com/" target="_blank">Beginner's Mind</a>
      <br>
      Photography @
      <a href="https://www.flickr.com/photos/christians" target="_blank">Flickr</a>
      <br>
  </p>

</span>


<span class="four-columns">
  <h1>Speaking</h1>
     <p>
     Universidad Catolica Boliviana "San Pablo" Cochabamba <br>
      Speaker <br>
         Title: Design with Heart <br>
      2025 <br>
  </p>

    <hr>
    <p>
     Northeastern Illinois University <br>
      Panel <br>
      2025 <br>
     </p>
    <hr>

     <p>
     DePaul University Panel <br>
      Alumni Panel <br>
      2024 <br>
  </p>
    <hr>
  <p>
     Chicago Design Archive <br>
      PAST, PRESENT, AND FUTURE, 20TH ANNIVERSARY <br>
      2023 <br>
  </p>
<hr>
    <p>
     AIGA Chicago <br>
        Ask & Give <br>
      2021 <br>
  </p>
<hr>
    <p>
     DePaul University <br>
        Alumni Panel <br>
      2020 <br>
  </p>
<hr>
</span>





